* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#title-html {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #dddddd;
  text-align: start;
}

#description-html {
  font-size: 0.6em;
  color: #bbbbbb;
}